<div>
    <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options">
        <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
        </ui-gmap-marker>
    </ui-gmap-google-map>

    <div ng-cloak>
        <ul>
            <li>coords update ctr: {{coordsUpdates}}</li>
            <li>dynamic move ctr: {{dynamicMoveCtr}}</li>
            <li>address(Reverse Geocoding) : {{myname}}</li>


        </ul>
        <p >{{mylat}}</p><br>
        <p >{{mylon}}</p><br>
        <reverse-geocode lat="mylat" lng="mylon" />
        <!--<reverse-geocode lat="36.99059819567056" lng="127.76889262500003" />-->


    </div>

</div>