<div>
    <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options">
        <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
        </ui-gmap-marker>
    </ui-gmap-google-map>

    <div ng-cloak>
        <ul>
            <li>coords update ctr: {{coordsUpdates}}</li>
            <li>dynamic move ctr: {{dynamicMoveCtr}}</li>
            <li>address(Reverse Geocoding) : {{mycoordi}}</li>


        </ul>
        <p >Latitude  : {{mylat}}</p><br>
        <p >Longitude : {{mylon}}</p><br>
        <reverse-geocode lat="mylat" lng="mylon" />
        <!--reverse-geocode lat="37.49131335983023" lng="126.92410271163942" /-->


    </div>

</div>