@charset "UTF-8";

$font-family: 'Nanum Gothic', NanumGothic, 'Nanum Gothic', 'Lato';


@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin border-radius-shadow($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;

  -webkit-box-shadow: rgba(0, 0, 0, 0.258824) 0px 2px 5px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.258824) 0px 2px 5px 0px;
  -ms-box-shadow: rgba(0, 0, 0, 0.258824) 0px 2px 5px 0px;
  box-shadow: rgba(0, 0, 0, 0.258824) 0px 2px 5px 0px;
}


body, button, input, select, textarea {
  font-family: $font-family;
}

html, body {
  height: 100%;
}

.container {
  display: block;
  width: 100%;
  height: 100%;
}

.ui-view {
  @extend .container;
  max-widows: 600px;
}