<div id="main" class="ui segment">
  <ui-gmap-google-map center="map.center"
                      zoom="map.zoom"
                      draggable="true"
                      options="map.options"
                      events="map.events">

    <ui-gmap-markers models="marker.randomMarkers"
                     coords="'self'"
                     icon="'icon'"
                     events="marker.events">
    </ui-gmap-markers>

  </ui-gmap-google-map>

</div>


<div id="timeline" class="ui segment">
  <div class="ui threaded comments">
    <h3 class="ui dividing header">Map Info.</h3>
    <div class="comment">
      <div class="content">
        <div class="text">
          How artistic!
        </div>
      </div>
    </div>
  </div>
</div>

