<div id="home">
  <div class="ui inverted masthead segment">
    <div class="ui page grid">
      <div class="column">
        <div class="ui inverted blue menu">
          <div class="header item">CODERUN</div>
          <div class="right menu">
            <a class="item" target="_blank" href="https://github.com/orgs/coderun-kr/dashboard">Library</a>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="ui inverted vertical segment">
    <div class="ui very relaxed stackable page grid">
      <div class="row">
        <div class="column">
          <h1 class="center aligned ui inverted header">
            UNITY 3D 모바일게임 프로그래밍
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="ten wide column">
          <h3 class="ui inverted header">강의 한줄 요약</h3>
          <p>배움이란 무엇일까요? 앎이란 무엇일까요? 게임 프로그래밍을 통해서 무엇을 얻고자 하나요? 인생을 게임에 비유하고 합니다. 게임을 프로그래밍 한다는 것과 인생 삶을 프로그래밍 한다는 것의 차이는 무엇일까요? </p>
          <div class="ui basic inverted animated button button">
            <div class="visible content">Read More</div>
            <div class="hidden content"><i class="right arrow icon"></i></div>
          </div>
          <div class="ui inverted section divider"></div>
          <h3 class="ui inverted header">강의내용</h3>
          <div class="ui inverted animated selection list">
            <div class="item">
              유니티 설치하기
              <div class="right floated">4분 30초</div>
            </div>
            <div class="item">
              카메라 이해하기
              <div class="right floated">8분 20초</div>
            </div>
            <div class="item">
              오브젝트 세팅하기
              <div class="right floated">5분 10초</div>
            </div>
            <div class="item">
              오브젝트 세팅하기
              <div class="right floated">5분 10초</div>
            </div>
            <div class="item">
              오브젝트 세팅하기
              <div class="right floated">5분 10초</div>
            </div>
            <div class="item">
              오브젝트 세팅하기
              <div class="right floated">5분 10초</div>
            </div>
          </div>
        </div>
        <div class="six wide column">
          <div class="ui card">
            <div class="image">
              <img src="assets/img/examples/star_defense.jpg">
            </div>
            <div class="content">
              <a class="header">김병훈 </a>
              <div class="meta">
                <span class="date">Joined in 2014</span>
              </div>
              <div class="description">
                은하수를 여행하는 히치하이커 도라에몽.
              </div>
            </div>
            <div class="extra content">
              <a>
                <i class="user icon"></i>
                22 Friends
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="ui inverted footer vertical segment">
    <div class="ui stackable center aligned page grid">

      <div class="sixteen wide column">
        <h5 class="ui inverted header">Contact Us</h5>
        <addr>
          SIRIUS, admin@siw.io
        </addr>
      </div>
    </div>
  </div>
</div>